# Python-related
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment

venv/
.env
staticfiles/

# --- Logi i pliki tymczasowe ---
*.log
.DS_Store
.idea/
.vscode/


# --- Pliki danych (JSON) ---
PP.json
darmowe_parkingi_final.json
*.json

# --- Skrypty importowe i eksportowe (Management Commands) ---
# Ignoruj wszystko w management, z wyjątkiem konkretnych plików
parking_point/management/*
!parking_point/management/commands/delete_expired_points.py
!parking_point/management/commands/__init__.py
!parking_point/management/__init__.py

parking_point/services.py
